@{
    ViewBag.Title = "Disciplina";
    Layout = "";
}

<h2>Disciplina</h2>

<table class="table table-striped">
    <thead>
        <tr>
            <td>Cod. Disciplina</td>
            <td>Nome do Aluno</td>
            <td>Nome da Disciplina</td>
            <td>Semestre</td>
            <td>Curso</td>
            <td>Gerenciar</td>
        </tr>
    </thead>
    <tbody>
            @foreach (var d in Model)
            {
        <tr>
            <td>@d.IdDisciplina</td>
            <td>@ViewBag.nomeAluno</td>
            <td>@d.Nome</td>
            <td>@d.Semestre</td>
            <td>@d.Curso</td>
            <td>
                <button onclick="loadDoc('@Url.Action("index", "Disciplina", new { idAluno = @d.IdAluno, idDisciplina = @d.IdDisciplina })','POST')" type="button" class="btn btn-danger">Excluir</button>
            </td>
        </tr>
            }
    </tbody>
</table>
